<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/jquery-3.4.1.min.js"></script>
    <script src="/static/AlbaWiki.js"></script>
    <title>Alba_Wiki</title>
    <style>
        html, body {
            background: linear-gradient( to top, yellow,  #8b00ff );
            background-attachment: fixed;
        }
        #main {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction : column;
        }
        #MainHeader {
            background-color: powderblue;
            box-shadow: 0 0 0 0.1rem powderblue;
            border-radius: 12px;
            margin: 10px;
            padding-top: 20px;
            text-align:center;
        }
        #Category {
            background-color: powderblue;
            box-shadow: 0 0 0 0.1rem powderblue;
            border-radius: 12px;
            margin: 10px;
            padding-top: 12px;
            text-align:center;
        }
        #WIKI {
            display: flex;
            flex-direction : column;
            height: 80%;
            flex-grow: 1;
            
        }
        .Post {
            display: flex;
            flex-direction: column;
            
        }
        .PostItem {
            background-color: powderblue;
            margin: 10px;
            box-shadow: 0 0 0 0.1rem powderblue;
            border-radius: 12px;
        }
        .Text {
            background-color: powderblue;
            margin: 10px;
            box-shadow: 0 0 0 0.1rem powderblue;
            border-radius: 12px;
            text-align:center;
        }
        #JobTaskAndTip {
            display: flex;
            flex-direction: row;
        }
        *{margin:0; padding:0;}
        .star , .stared{
            display:inline-block;
            width: 30px;height: 60px;
            cursor: pointer;
        }
        .star_left{
            background: url(http://gahyun.wooga.kr/main/img/testImg/star.png) no-repeat 0 0; 
            background-size: 60px; 
            margin-right: -3px;
        }
        .star_right{
            background: url(http://gahyun.wooga.kr/main/img/testImg/star.png) no-repeat -30px 0; 
            background-size: 60px; 
            margin-left: -3px;
        }
        .star.on, .stared.on{
            background-image: url(http://gahyun.wooga.kr/main/img/testImg/star_on.png);
        }
        textarea {
            border: 2px solid yellow;
            resize: none;
        }
        #post {
            margin-left: 10px;
        }
        #PostButton {
            margin-left: 10px;      
        }
        #postText {
            display: flex;
            flex-direction: row;
        }
        #Login {
            float: Right;
            margin-right: 15px;
            padding-right : 10px;
        }
        #UserId {
            float: Right;
            margin-right: 15px;
            padding-right : 10px;
            text-align: right;
        }
        #LogOut {
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <div id = "main">
        <div id = "MainHeader">
            <div>
                <h1>AlBA WIKI</h1>
            </div>
        </div>
        <div id = "Category">
            <h1 id = "CategoryName">
                
            </h1>
        </div>
        <div id = "WIKI">
            <div class ="JobTaskAndTip">
                <div class = "Text">
                    <textarea style = "display:inline-block;" name="Wiki" id="Wiki" cols="200" rows="30" readonly="readonly" value="" >
                        <%= business.business_name %>
                        <%= business.tip %>
                    </textarea>
                    
                </div>
            </div>
            <div class ="Post">
                <div class = "PostItem">
                    <div class="star-box">
                        <span class="star star_left"></span>
                        <span class="star star_right"></span>
                          
                        <span class="star star_left"></span>
                        <span class="star star_right"></span>
                          
                        <span class="star star_left"></span>
                        <span class="star star_right"></span>
                              
                        <span class="star star_left"></span>
                        <span class="star star_right"></span>
                              
                        <span class="star star_left"></span>
                        <span class="star star_right"></span>
                    </div>
                    <div id = "postText">
                        <div>
                            <textarea name="post" id="post" cols="100" rows="5"></textarea>
                        </div>
                        <div>
                            <button id = "PostButton">작성</button>
                        </div>
                    </div>

                    <% reviews.data.forEach( review => { %>
                        <div class = "PostItem">
                            <% for(var i = 0; i < review.star_point; i++) { %>
                                <span class="star star_left"></span>
                                <span class="star star_right"></span>
                            <% } %>
                            <h1><%= review.writer + " " + review.write_date %></h1>
                            <h4><%= review.content %></h4>
                        </div>
                    <% }); %>
                    
                </div>
            </div>            
        </div>
    </div>
</body>
</html>